extends ../../layout/default.pug
include ../../mixins/breadcrumbs.pug
include ../../mixins/alert.pug

block main
    +alert(messages)
    div(class="breadcrumb-nav")
        div(class="container-xl")
            +breadcrumb("Đặt hàng", [
                { name: `Home`, href: `/` },
                { name: `Đặt hàng`, href: `/checkout` },
            ])
    section(class="payment")
        div(class="container")
            div(class="payment__header")
                span(class="payment__icon")
                    i(class="fa-solid fa-box")
                h1(class="payment__title") Đặt hàng
                p(class="payment__desc") Vui lòng kiểm tra lại thông tin đơn hàng trước khi đặt hàng.
            form(action="/checkout/order", method="post",class="payment__wrapper row" ,id="checkout-form")
                div(class="payment-info col-12 col-lg-7")
                    h2(class="payment-info__title") Thông Tin Giao hàng
                    if(user == null)
                        p(class="payment-info__account")
                            | Bạn đã có tài khoản?
                            button(type="button", class="payment-info__account-btn", data-bs-toggle="modal", data-bs-target="#loginModal") Đăng nhập

                    div(class="payment-info__form")
                        div(class="mb-3")
                            input(type="text", class="form-control", name="name", placeholder="Họ và tên",value=(user?user.name:""))
                        div(class="mb-3 row")
                            div(class="col-8")
                                input(type="email", class="form-control", name="email", placeholder="email",value=(user?user.email:""))
                            div(class="col-4")
                                input(type="tel", class="form-control", name="phone", placeholder="số điện thoại",value=(user?user.phone:""))
                            div(class="mt-3")
                                input(type="text", class="form-control", name="address", placeholder="Địa chỉ",value=(user?user.address:""))

                    label(for="payment-1", class="payment-info__label") Phương thức thanh toán
                    label(class="radio")
                        input(type="radio", id="payment-1", name="paymentMethod",value="COD", checked)
                        label(for="payment-1", class="radio__shape")
                        label(for="payment-1", class="radio__label")
                            span(class="radio__icon")
                                i(class="fa-solid fa-money-bill-wave")
                            | Thanh toán khi nhận hàng (COD)

                    label(class="radio")
                        input(type="radio", id="payment-2", name="paymentMethod", value="BANK")
                        label(for="payment-2", class="radio__shape")
                        label(for="payment-2", class="radio__label")
                            span(class="radio__icon")
                                i(class="fa-solid fa-building-columns")
                            | Chuyển khoản qua ngân hàng
                    label(for="note", class="payment-info__label d-block") Ghi chú 
                    textarea(name="note" id="note" class="w-100 form-control" style="font-size: 1.6rem") #{note?note:""}
                    input(type="hidden" name="voucher" value=(voucher? voucher._id : ""), id="vc-input")
                    div(class="mt-3 row radio__btn")
                        a(href="/cart", class="link-btn") Giỏ hàng
                        button(type="submit", class="pay-btn") Đặt hàng

                div(class="payment-order col-12 col-lg-5")
                    h2(class="payment-order__title") Giỏ hàng
                    div(class="order-list")
                        each item in listItemCart
                            - quantity = item.quantity || 1;
                            - item = item.product;
                            div(class="order-item")
                                input(type="hidden", name="productId", value=item.id)
                                input(type="number", name="quantity", value=quantity, class="d-none")
                                a(href=`/product/detail/${item.slug}`, class="order-item__link")
                                    img(src=item.thumbnails[0] || "/uploads/default-image.jpg", alt=item.name, class="order-item__img")
                                    span #{quantity}
                                div(class="order-item__info")
                                    a(href=`/product/detail/${item.slug}`, class="order-item__name") #{item.name}
                                p(class="order-item__price") #{item.price.toLocaleString('vi-VN')}đ

                    div(class="discount")
                        div(class="discount__text")
                            span(class="discount__icon")
                                i(class="fa-solid fa-tag")
                            | Mã giảm giá
                        div(class="discount__code")
                            button(class="btn-discount",
                                type="button",
                                data-bs-toggle="offcanvas",
                                data-bs-target="#offcanvasExample",
                                aria-controls="offcanvasExample"
                            )
                                | Chọn mã giảm giá
                                span
                                    i(class="fa-solid.fa-chevron-right")
                    
                    if(voucher)
                        div(class="product__discount" id="product__discount")
                            p(class="code__selected") Đã chọn
                            div(class="product-code")
                                div(class="product-code__item")
                                    p #{voucher.code}
                    else 
                        div(class="product__discount" id="product__discount")
                    hr
                    table(class="payment-order__table")
                        tr
                            td Tạm tính
                            td(class="bill__price", id="bill__price", data-price=totalPriceAndDiscount.totalPrice) #{totalPriceAndDiscount.totalPrice.toLocaleString('vi-VN')}đ
                        - hasVoucher = totalPriceAndDiscount.discount > 0;
                        if(hasVoucher)
                            tr(id="bill-discount")
                                td Mã giảm giá
                                td(id="bill-discount") #{totalPriceAndDiscount.discount.toLocaleString('vi-VN')}đ
                        else 
                             tr(id="bill-discount", style="display: none")
                        tr
                            td Phí vận chuyển
                            td Miễn phí
                    div(class="payment-order__total")
                        p(class="payment-order__total-text") Tổng cộng
                        strong(class="payment-order__total-value" id="total__price") #{(totalPriceAndDiscount.totalPrice - totalPriceAndDiscount.discount).toLocaleString('vi-VN')}đ
    include ../../partials/list_voucher.pug