extends ../../layout/default.pug
include ../../mixins/pagination.pug
include ../../mixins/productCard.pug

block main 
    main(class="home")
        div(class="container-xl")
            div(class="row slide-banner")
                div(class="carousel slide col-md-9 col-12", id="slide",data-bs-ride="carousel")
                    div(class="carousel-indicators")
                        button(type="button", data-bs-target="#slide", data-bs-slide-to="0", class="active", aria-current="true", aria-label="Slide 1")
                        button(type="button", data-bs-target="#slide", data-bs-slide-to="1", aria-label="Slide 2")
                        button(type="button", data-bs-target="#slide", data-bs-slide-to="2", aria-label="Slide 3")
                    div(class="carousel-inner")
                        a(href="", class="carousel-item active")
                            img(class="carousel-item__img d-block w-100", src="../../../client/images/slider_1.webp", alt="...")
                        a(href="", class="carousel-item")
                            img(class="carousel-item__img d-block w-100", src="../../../client/images/slider_2.webp", alt="...")
                        a(href="", class="carousel-item")
                            img(class="carousel-item__img d-block w-100", src="../../../client/images/slider_3.webp", alt="...")
                    button(class="carousel-control-prev", type="button", data-bs-target="#slide", data-bs-slide="prev")
                        span(class="carousel-control-prev-icon", aria-hidden="true")
                        span(class="visually-hidden") Previous
                    button(class="carousel-control-next", type="button", data-bs-target="#slide", data-bs-slide="next")
                        span(class="carousel-control-next-icon", aria-hidden="true")
                        span(class="visually-hidden") Next
                div(class="banner col-md-3 col-12")
                    a(class="banner__link",href="")
                        img(class="banner__img", src="../../../client/images/slider_1.webp", alt="") 
                    a(class="banner__link",href="")
                        img(class="banner__img", src="../../../client/images/slider_2.webp", alt="")
                    a(class="banner__link",href="")
                        img(class="banner__img", src="../../../client/images/slider_3.webp", alt="")
           
            //- =================================== sản phẩm nổi bật =================================
            - const featuredProducts = utils.shuffleArray(listProduct).filter(p => p.featured).slice(0, 8)
            if(featuredProducts)
                section(class="product")
                    div(class="product-header")
                        div(class="product-title")
                            a(class="product-title__link",href=`/product/feature`) Sản phẩm nổi bật
                    div(class="product-list row")
                        each product in featuredProducts
                            div(class="col-md-3 col-sm-4 col-6")
                                +productCard(product)   

            each category in categoryTree                
                section(class="product")
                    div(class="product-header")
                        div(class="product-title")
                            a(class="product-title__link",href=`product/${category.slug}`) #{category.name}
                        div(class="product-category")
                            each subCategory in category.children
                                a(class="product-category__btn",href=`product/${subCategory.slug}`) #{subCategory.name}
                    div(class="product-banner")
                        a(class="product-banner__link",href=`product/${category.slug}`)
                            img(class="product-banner__img",src=category.thumbnail, alt=category.name)

                    div(class="product-list row")
                        - const filteredProducts = listProduct.filter(p => p.category == category._id || category.children.some(child => child.id == p.category)).slice(0, 12)
                        each product in filteredProducts
                            div(class="col-md-3 col-sm-4 col-6")
                                +productCard(product)
                                