mixin CategoryTreeWithoutNode(categoryTree,parentId,space="")
    each category in categoryTree
        if category.parentId != parentId
            option(value=category._id, selected=parentId == category._id) #{space} #{category.name}
            +CategoryTreeWithoutNode(category.children,parentId,`${space}---`)

