mixin categoryTree(categoryTree,parentId,space="")
    each category in categoryTree
        option(value=category._id, selected=parentId == category._id) #{space} #{category.name}
        +categoryTree(category.children,parentId,`${space}---`)

