include ./category_tree.pug
mixin toolbarFilter({filter,path,categoryTree,product=false,category=false})
    div(id="toolbar__advanced-filter-box", class="toolbar__advanced-box" )
        form(id="filter-form" class="toolbar__advanced-form", action=`${PATH_ADMIN}/${path}`,method="GET")
            div(class="block-advanced")
                div(class="advanced")
                    div(class="advanced__item-header") 
                            h2(class="block-advanced__title") Bộ Lọc 
                            div(class="toolbar__advanced-group-btn")
                                button(type="button" class="toolbar__advanced-btn handle-from-reset-btn btn btn-primary") Đặt lại
                                button(type="submit" class="toolbar__advanced-btn btn btn-primary") Gửi
                div(class=product ?"advanced__item":"advanced__item-2")
                    h3(class="advanced__title")=product ? "Tên sản phẩm" : "Tên danh mục"
                    input(type="text" class="advanced__input" name="name" placeholder=product ? "Nhập tên sản phẩm" : "Nhập tên danh mục" value=filter.name|| "")
                if(product)
                    div(class="advanced__item-2") 
                        h3(class="advanced__title") Mã sản phẩm
                        input(type="text" class="advanced__input" name="code" placeholder="Nhập mã sản phẩm" value=filter.code|| "")
                div(class="advanced__item")
                    if(product)
                        h3(class="advanced__title") Danh mục
                        select(name="category", id="category") 
                            option(value="" selected disabled) -- chọn danh mục -- 
                                if(categoryTree.length > 0)
                                    +categoryTree(categoryTree)
                                else 
                                    option(value="" selected disabled) -- Chưa có danh mục nào! -- 
                    else
                        h3(class="advanced__title") Danh mục cha
                        select(name="parentId", id="category") 
                            option(value="" selected disabled) -- chọn danh mục cha-- 
                                if(categoryTree.length > 0)
                                    +categoryTree(categoryTree)
                                else 
                                    option(value="" selected disabled) -- Chưa có danh mục nào! -- 
                div(class="advanced__item-2") 
                    h3(class="advanced__title") Trạng thái
                    div(class="advanced__radio-group")
                        input(type="radio" name="status" id="status_1" value="" checked = filter.status === "" ? true:false) 
                        label(for="status_1") Mặc định
                        input(type="radio" name="status" id="status_2" value="on" checked = filter.status === "on" ? true:false)
                        label(for="status_2") Hoạt Động
                        input(type="radio" name="status" id="status_3" value="off" checked = filter.status === "off" ? true:false)
                        label(for="status_3") Không Hoạt Động
                if(product)
                    div(class="advanced__item") 
                        h3(class="advanced__title") Giá gốc
                        div(class="advanced__number-group")
                            input(type="number" class="advanced__input" name="min-original-price" placeholder="Tối thiểu" min=0 value=filter["min-original-price"]) 
                            input(type="number" class="advanced__input" name="max-original-price" placeholder="Tối đa" min=0 value=filter["max-original-price"])
                    div(class="advanced__item-2") 
                        h3(class="advanced__title") Giá bán
                        div(class="advanced__number-group")
                            input(type="number" class="advanced__input" name="min-price" placeholder="Tối thiểu" min=0 value=filter["min-price"])
                            input(type="number" class="advanced__input" name="max-price" placeholder="Tối đa" min=0 value=filter["max-price"])
                    div(class="advanced__item") 
                        h3(class="advanced__title") Giảm giá
                        div(class="advanced__number-group")
                            input(type="number" class="advanced__input" name="min-discount" placeholder="Tối thiểu" min=0 value=filter["min-discount"]) 
                            input(type="number" class="advanced__input" name="max-discount" placeholder="Tối đa" min=0 max=100 value=filter["max-discount"])
                    div(class="advanced__item-2") 
                        h3(class="advanced__title") Tồn kho
                        div(class="advanced__number-group")
                            input(type="number" class="advanced__input" name="min-inventory" placeholder="Tối thiểu" min=0 value=filter["min-inventory"]) 
                            input(type="number" class="advanced__input" name="max-inventory" placeholder="Tối đa" min=0 value=filter["max-inventory"])