
include ./category_tree.pug
include ./deletion_warning.pug
mixin toolbarHandle({handle,path,categoryTree,trash=false,product=false,category=false,role=false,account=false,user=false,voucher=false,order=false,post=false,Update=false,Delete=false,title=""})
    div(id="toolbar__advanced-handle-box", class="toolbar__advanced-box")
        form(id="handle-update-form" class="toolbar__advanced-form", action=`${PATH_ADMIN}/${path}/update-more?_method=PATCH`,method="POST") 
            input(type="text" class="list-id" name="list-id" value="[]" style="display:none")
            div(class="block-advanced")
                div(class="advanced")
                    if Update
                        div(class="advanced__item-header") 
                            h2(class="block-advanced__title") Cập Nhật
                            div(class="toolbar__advanced-group-btn")
                                button(type="button" class="btn btn-primary reset-btn") Đặt lại
                                button(type="button" class=" btn btn-primary update-btn") Cập nhật

                        if product
                            div(class="advanced__item")
                                h3(class="advanced__title") Danh mục
                                select(name="category", id="category") 
                                    option(value="" selected disabled) -- chọn danh mục -- 
                                    if(categoryTree.length > 0)
                                        +categoryTree(categoryTree,handle ? handle.category: null)
                                    else 
                                        option(value="" selected disabled) -- Chưa có danh mục nào! -- 
                            div(class="advanced__item") 
                                h3(class="advanced__title") Trạng thái
                                div(class="advanced__radio-group")
                                    input(type="radio" name="status" id="status-advanced_1" value="on" checked = handle && handle.status === "on" ? true:false)
                                    label(for="status-advanced_1") Hoạt Động
                                    input(type="radio" name="status" id="status-advanced_2" value="off" checked = handle && handle.status === "off" ? true:false)
                                    label(for="status-advanced_2") Không Hoạt Động
                            div(class="advanced__item") 
                                h3(class="advanced__title") Nổi bật
                                div(class="advanced__radio-group")
                                    input(type="radio" name="featured" id="featured-advanced_1" value="on" checked = handle && handle.featured === "on" ? true:false)
                                    label(for="featured-advanced_1") Nổi Bật
                                    input(type="radio" name="featured" id="featured-advanced_2" value="off" checked = handle && handle.featured === "off" ? true:false)
                                    label(for="featured-advanced_2") Không Nổi Bật
                            div(class="advanced__item")
                                h3(class="advanced__title") Giá gốc
                                div(class="advanced__number-group")
                                    input(type="number" class="advanced__input" name="original-price" placeholder="0" min=0 value= handle ? handle["original-price"]: 0)
                            div(class="advanced__item")
                                h3(class="advanced__title") Giá bán
                                div(class="advanced__number-group")
                                    input(type="number" class="advanced__input" name="price" placeholder="0" min=0 value=handle ? handle.price: "") 
                            div(class="advanced__item") 
                                h3(class="advanced__title") Giảm giá
                                div(class="advanced__number-group")
                                    input(type="number" class="advanced__input" name="discount" placeholder="0" min=0 max=100 value=handle ? handle.discount: "")
                            div(class="advanced__item")
                                h3(class="advanced__title") Tồn kho
                                div(class="advanced__number-group")
                                    input(type="number" class="advanced__input" name="inventory" placeholder="0" min=0 value=handle ? handle.inventory: "")
                   
                        else if category 
                            div(class="advanced__item") 
                                h3(class="advanced__title") Trạng thái
                                div(class="advanced__radio-group")
                                    input(type="radio" name="status" id="status-advanced_1" value="on" checked = handle && handle.status === "on" ? true:false)
                                    label(for="status-advanced_1") Hoạt Động
                                    input(type="radio" name="status" id="status-advanced_2" value="off" checked = handle && handle.status === "off" ? true:false)
                                    label(for="status-advanced_2") Không Hoạt Động

                        else if post 
                            div(class="advanced__item")
                                h3(class="advanced__title") Danh mục
                                select(name="category", id="category") 
                                    option(value="" selected disabled) -- chọn danh mục -- 
                                    if(categoryTree.length > 0)
                                        +categoryTree(categoryTree,handle ? handle.category: null)
                                    else 
                                        option(value="" selected disabled) -- Chưa có danh mục nào! -- 
                            div(class="advanced__item")
                                h3(class="advanced__title") Trạng thái
                                select(name="status", id="status") 
                                    option(value="") -- Mặc định --
                                    option(value="public" selected=(handle && handle.status == "public")) Công khai
                                    option(value="draft" selected=(handle && handle.status == "draft")) Bản nháp
                                    option(value="hidden" selected=(handle && handle.status == "hidden")) Ẩn

                        else if account 
                            div(class="advanced__item")
                                h3(class="advanced__title") Phân quyền
                                select(name="roleId", id="roleId") 
                                    option(value="" selected disabled) -- chọn quyền -- 
                                    if(listRoles.length > 0)
                                        each role in listRoles
                                            option(value=role.id) #{role.name} 
                                    else 
                                        option(value="" selected disabled) -- Chưa có phân quền nào! -- 
                            div(class="advanced__item") 
                                h3(class="advanced__title") Trạng thái
                                div(class="advanced__radio-group")
                                    input(type="radio" name="status" id="status-advanced_1" value="on" checked = handle && handle.status === "on" ? true:false)
                                    label(for="status-advanced_1") Hoạt Động
                                    input(type="radio" name="status" id="status-advanced_2" value="off" checked = handle && handle.status === "off" ? true:false)
                                    label(for="status-advanced_2") Không Hoạt Động
                        else if user 
                            div(class="advanced__item") 
                                h3(class="advanced__title") Trạng thái
                                div(class="advanced__radio-group")
                                    input(type="radio" name="status" id="status-advanced_1" value="on" checked = handle && handle.status === "on" ? true:false)
                                    label(for="status-advanced_1") Hoạt Động
                                    input(type="radio" name="status" id="status-advanced_2" value="off" checked = handle && handle.status === "off" ? true:false)
                                    label(for="status-advanced_2") Không Hoạt Động
                            
                        else if voucher
                            div(class="advanced__item")
                                h3(class="advanced__title") Loại giảm giá
                                select(name="discountType", id="discountType") 
                                    option(value="") -- Tất cả --
                                    option(value="fixed" selected=(handle && handle.discountType == "fixed")) Giảm giá cố định
                                    option(value="percent" selected=(handle && handle.discountType == "percent")) Giảm theo phần trăm(0 - 100%) 
                            div(class="advanced__item")
                                h3(class="advanced__title") Áp dụng cho
                                select(name="applyFor", id="applyFor") 
                                    option(value="all" selected=(handle && handle.discountType == "all")) -- Tất cả --
                                    option(value="purchased" selected=(handle && handle.discountType == "purchased")) Đã mua
                                    option(value="not-purchased" selected=(handle && handle.discountType == "not-purchased")) Chưa mua
                                    option(value="new-user" selected=(handle && handle.discountType == "new-user")) Người mới
                            div(class="advanced__item") 
                                h3(class="advanced__title") Trạng thái
                                div(class="advanced__radio-group")
                                    input(type="radio" name="status" id="status-advanced_1" value="on" checked = handle && handle.status === "on" ? true:false)
                                    label(for="status-advanced_1") Hoạt Động
                                    input(type="radio" name="status" id="status-advanced_2" value="off" checked = handle && handle.status === "off" ? true:false)
                                    label(for="status-advanced_2") Không Hoạt Động
                            div(class="advanced__item") 
                                h3(class="advanced__title") Trị giá
                                div(class="advanced__number-group")
                                    input(type="number" class="advanced__input" name="discountValue" placeholder="0" min=0 value=filter["discountValue"]) 
                            div(class="advanced__item") 
                                h3(class="advanced__title") Giảm tối đa
                                div(class="advanced__number-group")
                                    input(type="number" class="advanced__input" name="maxDiscount" placeholder="0" min=0 value=filter["maxDiscount"])
                            div(class="advanced__item") 
                                h3(class="advanced__title") Giá trị đơn
                                div(class="advanced__number-group")
                                    input(type="number" class="advanced__input" name="minOrderValue" placeholder="0" min=0 value=filter["minOrderValue"]) 
                            div(class="advanced__item") 
                                h3(class="advanced__title") Số lượng
                                div(class="advanced__number-group")
                                    input(type="number" class="advanced__input" name="quantity" placeholder="0" min=0 value=filter["quantity"]) 
                           
                            - const startDate = filter.startDate ? new Date(filter.startDate).toISOString().split('T')[0]:"";
                            - const expiredAt = filter.expiredAt ? new Date(filter.expiredAt).toISOString().split('T')[0]:"";
                            div(class="advanced__item") 
                                h3(class="advanced__title") Ngày áp dụng
                                div(class="advanced__number-group")
                                    input(type="date" class="advanced__input" name="startDate" value=startDate|| "") 
                            div(class="advanced__item") 
                                h3(class="advanced__title") Ngày hết hạn
                                div(class="advanced__number-group")
                                    input(type="date" class="advanced__input" name="expiredAt" value=expiredAt|| "") 
                        
                        else if order
                            div(class="advanced__item")
                                h3(class="advanced__title") Trạng thái
                                select(name="status", id="status") 
                                    option(value="") -- Mặc định --
                                    option(value="pending" selected=(handle && handle.status == "pending")) Chờ xử lí
                                    option(value="confirmed" selected=(handle && handle.status == "confirmed")) Đã xác nhận
                                    option(value="shipped" selected=(handle && handle.status == "shipped")) Đã gửi
                                    option(value="delivered" selected=(handle && handle.status == "delivered")) Đã nhận
                                    option(value="cancelled" selected=(handle && handle.status == "cancelled")) Đã hủy
                            div(class="advanced__item")
                                h3(class="advanced__title") Phương thức thanh toán
                                select(name="paymentMethod", id="paymentMethod") 
                                    option(value="" selected=(handle && handle.paymentMethod == "")) -- Mặc định --
                                    option(value="COD" selected=(handle && handle.paymentMethod == "COD")) Thanh toán khi nhận hàng 
                                    option(value="BANK" selected=(handle && handle.paymentMethod == "BANK")) chuyển khoảng nhân hàng 
                            div(class="advanced__item") 
                                h3(class="advanced__title") Thanh toán
                                div(class="advanced__radio-group")
                                    input(type="radio" name="isPaid" id="isPaid-advanced_1" value="on" checked = handle && handle.status === "on" ? true:false)
                                    label(for="isPaid-advanced_1") Đã thanh toán
                                    input(type="radio" name="isPaid" id="isPaid-advanced_2" value="off" checked = handle && handle.status === "off" ? true:false)
                                    label(for="isPaid-advanced_2") Chưa thanh toán
                            
                    if (trash && Update || Delete)
                        div(class="advanced__item-header") 
                            h2(class="block-advanced__title") Xử Lí
                            div(class="toolbar__advanced-group-btn")
                                if trash && (Update || Delete)
                                    if Delete
                                        button(type="button" class="btn  btn-danger update-btn" data-target="#warningDeleteMultipleModal") Xoá vĩnh viễn
                                    if Update
                                        button(type="button" class="btn  btn-primary update-btn" data-target="#warningRestoreMultipleModal") Khôi phục
                                else
                                    button(type="button" class="btn  btn-danger update-btn" data-target="#warningDeleteMultipleModal") Xoá
        
    if trash
        +formWarning("warningDeleteMultipleModal",`Bạn có chắc chắn muốn <b class='warning-text'>Xóa Vĩnh Viễn</b> các ${title} đã chọn?<span class='warning-text'> Hành động này không thể hoàn tác!!!</span>`,`Xóa ${title}`,"warning-delete-multiple-modal-btn","Xóa Vĩnh Viễn")
        +formWarning("warningRestoreMultipleModal",`Bạn có chắc chắn muốn <b class='warning-text'>Khôi Phục</b> các ${title} này không?<span class='warning-text'>`,`Khôi phục ${title}`,"warning-restore-multiple-modal-btn","Khôi Phục")
    else
        +formWarning("warningDeleteMultipleModal",`Bạn có chắc chắn muốn <b class='warning-text'>Xóa</b> các ${title} đã chọn?`,`Xóa ${title}`,"warning-delete-multiple-modal-btn","Xóa")
    +formWarning("warningUpdateMultipleModal",`Bạn có chắc chắn muốn <b class='warning-text'>Cập Nhật</b> các ${title} đã chọn?`,`Cập nhật ${title}`,"warning-update-multiple-modal-btn")
    //- hidden form
    if trash
        form(id="handle-delete-form" class="toolbar__advanced-form", action=`${PATH_ADMIN}/${path}/destroy-more?_method=DELETE`,method="POST") 
            input(type="text" class="list-id" name="list-id" value="[]" style="display:none")
        form(id="handle-restore-form" class="toolbar__advanced-form", action=`${PATH_ADMIN}/${path}/restore-more?_method=PATCH`,method="POST") 
            input(type="text" class="list-id" name="list-id" value="[]" style="display:none")
    else 
        form(id="handle-delete-form" class="toolbar__advanced-form", action=`${PATH_ADMIN}/${path}/delete-more?_method=DELETE`,method="POST") 
            input(type="text" class="list-id" name="list-id" value="[]" style="display:none")