extends ../../layout/default.pug
include ../../mixins/category_tree.pug
include ../../mixins/alert.pug
include ../../mixins/page_header.pug
block main 
    +alert(messages)
    +page_header("Tạo mới sản phẩm", [
        { name: "Sản phẩm", href: `${PATH_ADMIN}/product` },
        { name: "Danh sách sản phẩm", href: `${PATH_ADMIN}/product` },
        { name: "Tạo mới sản phẩm", href: `${PATH_ADMIN}/product/create` },
    ])
    div(class="create")
        form(action=`${PATH_ADMIN}/product/create`, method="post",enctype="multipart/form-data")
            h1(class="title") Thông tin chung
            div(class="general")
                div(class="form-group")
                    div(class="name form-item")
                        label(for="name") 
                            | Tên sản phẩm (
                            span(class="important-item") *
                            | )
                        input(class="form-control",id="name",name="name",type="text",required)
                    div(class="code form-item")
                        label(for="code") 
                            | Mã sản phẩm (
                            span(class="important-item") *
                            | )
                        input(class="form-control",id="code",name="code",type="text",required)    
                    div(class="supplier form-item")
                        label(for="supplier") Nhà cung cấp
                        input(type="text", id="supplier",name="supplier") 
                div(class="form-group")
                    div(class="original_price form-item")
                        label(for="original_price") Giá gốc(VND)
                        input(class="form-control",id="original_price",name="original_price",type="number",placeholder="0",min="0")  
                    div(class="price form-item")
                        label(for="price") 
                            | Giá bán(VND) (
                            span(class="important-item") *
                            | )
                        input(class="form-control",id="price",name="price",type="number",placeholder="0",min="0",required) 
                    div(class="discount form-item")
                        label(for="discount") Giảm giá(%)
                        input(class="form-control",id="discount",name="discount",type="number",placeholder="0",min="0")
                div(class="form-group")
                    div(class="form-item")
                        label(for="inventory") Tồn kho
                        input(class="form-control",id="inventory",name="inventory",type="number",placeholder="0",min="0")   
                    div(class="category form-item")
                        label(for="category")  
                            | Danh mục (
                            span(class="important-item") *
                            | )
                        select(name="category", id="category" ,required) 
                            option(value="" selected disabled) -- chọn danh mục -- 
                            if(categoryTree.length > 0)
                                option(value="") Không
                                +categoryTree(categoryTree)
                            else 
                                option(value="" selected disabled) -- Chưa có danh mục nào! -- 
                    div(class="add-more form-item")
                        p(class="add-more__title") Thêm danh mục 
                        a(href="/admin/product-category/create" class="btn btn-primary")
                            i(class="fa-solid fa-plus") 
                label(for="check-status") Trạng thái 
                div(class="btn-toggle")
                    div(class="btn-status-toggle")
                            div(class="form-check form-switch")
                                input(class="form-check-input btn-status-form",name="status",type="checkbox",id="check-status", role="switch",checked=true,value="on")
                    p(class="btn-status__desc", isOn="Hoạt động", isOff="Không hoạt động") Hoạt động   
                label(for="check-featured") Sản phẩm nổi bật 
                div(class="btn-toggle")
                    div(class="btn-status-toggle")
                            div(class="form-check form-switch")
                                input(class="form-check-input btn-status-form",name="featured",type="checkbox",id="check-featured", role="switch",checked=false,value="off")
                    p(class="btn-status__desc", isOn="Có", isOff="Không") Không
                label(for="description") Mô tả sản phẩm
                textarea(class="textarea-mce",name="description",id="description") 
            h1(class="title") Hình ảnh
            div(class="form-group")
                div(class="image form-item")
                    div(class="image-group", id="image-group")
                        label(class="image__upload" for="image") 
                            span(class="image__upload-icon")
                                i(class="fa-solid fa-upload")
                            |   upload
                            input(id="image",name="thumbnails",type="file",accept="image/*",multiple)
            div(class="form-group__btn")
                a(href="/admin/product" class="btn btn-primary") Quay lại
                button(type="submit" class="btn btn-primary") Tạo Sản Phẩm 


            