extends ../../layout/default.pug
include ../../mixins/page_header.pug
include ../../mixins/category_tree.pug
include ../../mixins/alert.pug

block main 
    +alert(messages)
    +page_header("Chỉnh sửa sản phẩm", [
        { name: "Sản phẩm", href: `${PATH_ADMIN}/product` },
        { name: "Danh sách sản phẩm", href: `${PATH_ADMIN}/product` },
        { name: "Chỉnh sửa sản phẩm", href: `${PATH_ADMIN}/product/edit/${product.id}` },
    ])
    div(class="edit")
        form(action=`${PATH_ADMIN}/product/edit/${product.id}?_method=PATCH`, method="post",enctype="multipart/form-data",id="form-edit")
            h1(class="title") Thông tin chung
            div(class="general")
                div(class="form-group")
                    div(class="name form-item")
                        label(for="name") 
                            | Tên sản phẩm (
                            span(class="important-item") *
                            | )
                        input(class="form-control",id="name",name="name",type="text",value=product.name,required)
                    div(class="code form-item")
                        label(for="code") 
                            | Mã sản phẩm (
                            span(class="important-item") *
                            | )
                        input(class="form-control",id="code",name="code",type="text",value=product.code,required)    
                div(class="form-group")
                    div(class="original_price form-item")
                        label(for="original_price") Giá gốc(VND)
                        input(class="form-control",id="original_price",name="original_price",value=product.original_price,type="number",placeholder="0",min="0")  
                    div(class="price form-item")
                        label(for="price") 
                            | Giá bán(VND) (
                            span(class="important-item") *
                            | )
                        input(class="form-control",id="price",name="price",value=product.price,type="number",placeholder="0",min="0",required) 
                    div(class="discount form-item")
                        label(for="discount") Giảm giá(%)
                        input(class="form-control",id="discount",name="discount",value=product.discount,type="number",placeholder="0",min="0")
                    div(class="inventory form-item")
                        label(for="inventory") Tồn kho
                        input(class="form-control",id="inventory",name="inventory",value=product.inventory,type="number",placeholder="0",min="0")           
                div(class="form-group")
                    div(class="supplier form-item")
                        label(for="supplier") Nhà cung cấp
                        input(type="text", id="supplier",name="supplier",value=product.supplier) 
                    div(class="category form-item")
                        label(for="category")  
                            | Danh mục (
                            span(class="important-item") *
                            | )
                        select(name="category", id="category" ,required) 
                            option(value="" selected disabled) -- chọn danh mục -- 
                            if(categoryTree.length > 0)
                                option(value="") Không
                                +categoryTree(categoryTree,product.category)
                            else 
                                option(value="" selected disabled) -- Chưa có danh mục nào! -- 
                    div(class="add-more form-item")
                        p(class="add-more__title") Thêm danh mục 
                        a(href="/admin/category/create" class="btn btn-primary")
                            i(class="fa-solid fa-plus") 
                label(for="check") Trạng thái 
                div(class="btn-toggle")
                    div(class="btn-status-toggle")
                            div(class="form-check form-switch")
                                input(class="form-check-input btn-status-form",name="status",type="checkbox",id="check", role="switch",checked=product.status == "on" ? true:false)
                    p(class="btn-status__desc") Hoạt động          
                label(for="description") Mô tả sản phẩm
                textarea(class="textarea-mce",name="description",id="description") 
                    != product.description 
            h1(class="title") 
                | Hình ảnh (
                span(class="important-item") *
                | )
            div(class="form-group")
                div(class="image form-item")
                    div(class="image-group", id="image-group")
                        if product.thumbnails.length > 0
                            each imgSrc in product.thumbnails 
                                div(class="image-group__preview")
                                    img(src=imgSrc)
                                    span(class="image__close-icon" )
                                        i(class="fa-solid fa-circle-xmark", style="background-color: #fff; border-radius: 50%; display: block;")
                        label(class="image__upload" for="image") 
                            span(class="image__upload-icon")
                                i(class="fa-solid fa-upload")
                            |   upload
                            input(id="image",name="thumbnails",type="file",accept="image/*",multiple)
            input(type="hidden",name="thumbnailDeleted",id="thumbnail-deleted")
            div(class="form-group__btn")
                a(href="/admin/product" class="btn btn-primary") Quay lại
                button(type="submit" class="btn btn-primary") Sửa Sản Phẩm 


            