extends ../../layout/default.pug
include ../../mixins/page_header.pug
include ../../mixins/toolbar_filter.pug
include ../../mixins/toolbar_handle.pug
include ../../mixins/deletion_warning.pug
include ../../mixins/pagination.pug
include ../../mixins/get_category.pug
include ../../mixins/alert.pug

block main 
    +alert(messages)
    if permission.includes("view-product")
        +page_header("Danh sách sản phẩm", [
            { name: "Sản phẩm", href: `${PATH_ADMIN}/product` },
            { name: "Danh sách sản phẩm", href: `${PATH_ADMIN}/product` },
        ])
        div(class="toolbar")
            div(class="toolbar__box")
                div(class="toolbar__left-box")
                    form(action=`${PATH_ADMIN}/product`, method="GET") 
                        div(class="search")
                            input(class="search__input", type="text", name="name",placeholder="Nhập từ khóa tìm kiếm", spellcheck="false",value=filter.name)
                            button(type="submit" class="search__toolbar-icon")
                                i(class="fa-solid fa-magnifying-glass")
                    button(id="advanced-filter-btn", class="advanced-filter-btn btn btn-primary", type="button")
                        span(class="icon-btn")
                            i(class="fa-solid fa-filter")
                        | Bộ Lọc
                    if permission.includes("update-product") || permission.includes("delete-product")
                        button(id="advanced-handle-btn", class="advanced-handle-btn btn btn-primary", type="button")
                            span(class="icon-btn")
                                i(class="fa-solid fa-sliders")
                            | Nâng cao
                    a(href=`${PATH_ADMIN}/product-trash`,id="btn btn-primary", class=" btn btn-primary")
                        span(class="icon-btn")
                            i(class="fa-solid fa-trash-can")
                        | Thùng rác
                if permission.includes("add-product")
                    div(class="toolbar__right-box")
                        a(href=`${PATH_ADMIN}/product/create`,class="btn btn-primary")
                            span(class="icon-btn")
                                i(class="fa-solid fa-plus")
                            | Thêm mới sản phẩm
            +toolbarFilter({filter,path: "product-trash",categoryTree,product:true})
            if permission.includes("update-product") || permission.includes("delete-product")
                -var Update = permission.includes("update-product");
                -var Delete = permission.includes("delete-product");
                +toolbarHandle({handle,path: "product-trash",categoryTree,product:true,Update: Update,Delete: Delete})

        div(class="overview-block") 
            div(class="overview-item total-products")
                h3(class="overview-item__title total-products__title") Tổng số sản phẩm
                p(class="overview-item__detail total-products__detail") #{general.totalProduct}
            div(class="overview-item inventory")
                h3(class="overview-item__title inventory__title") Tồn kho
                p(class="overview-item__detail inventory__detail") #{general.inventory}
            div(class="overview-item out-of-stock")
                h3(class="overview-item__title out-of-stock__title") Hết hàng
                p(class="overview-item__detail out-of-stock__detail") #{general.outOfStock}
            div(class="overview-item inventory-value")
                h3(class="overview-item__title inventory-value__title") Giá trị hàng tồn
                p(class="overview-item__detail inventory-value__detail") #{general.inventoryTotalValue.toLocaleString('vi-VN')}đ
        
        div(class="list-product list-table")
            table(class="list-product__table")
                thead
                    tr
                        th(scope="col") 
                            input(type="checkbox" id="table-item__select-all" name="sort")
                        th(scope="col") 
                            |   Tên sản phẩm
                            !=pugHepper.sort("name", _sort,pagination.page)
                        th(scope="col") 
                            |   Mã sản phẩm
                            !=pugHepper.sort("code", _sort,pagination.page)
                        th(scope="col") Danh mục
                        th(scope="col") 
                            |   Giá gốc
                            !=pugHepper.sort("original_price", _sort,pagination.page)
                        th(scope="col") 
                            |   Giá bán
                            !=pugHepper.sort("price", _sort,pagination.page)
                        th(scope="col") 
                            |   Giảm giá
                            !=pugHepper.sort("discount", _sort,pagination.page)
                        th(scope="col") 
                            |   Tồn kho 
                            !=pugHepper.sort("inventory", _sort,pagination.page)
                        th(scope="col") Trạng thái 
                tbody
                    if listProduct.length > 0
                        each product in listProduct
                            tr
                                td 
                                    input(type="checkbox" class="table-item__select" name="sort" value="1" _id=product._id)
                                td  
                                    div(class="table-item__name")
                                        - var thumbnail = product.thumbnails?.[0] || "/uploads/default-image.jpg"
                                        img(class="table-item__img", src=thumbnail, alt=product.name)
                                        h4(class="table-item__title") #{product.name}
                                td 
                                    p 
                                        span(class="table-item__icon")
                                            i(class="fa-solid fa-tag" style="transform: scaleX(-1)")
                                        | #{product.code}
                                td 
                                    +getCategory(product.category,categoryTree)
                                td 
                                    if permission.includes("update-product")
                                        p(class="product-item__original_price")
                                            |   #{product.original_price.toLocaleString('vi-VN')}đ
                                            span(class="table-item__icon table-item__icon-pen" path="product")
                                                i(class="fa-solid fa-pen")
                                        input(class="table-item__input", type="number", value=product.original_price,field="original_price",_id=product._id)
                                        form(action="", method="post") 
                                    else
                                        p(class="product-item__original_price") #{product.original_price.toLocaleString('vi-VN')}đ

                                td 
                                    if permission.includes("update-product")
                                        p(class="product-item__price")
                                            |   #{product.price.toLocaleString('vi-VN')}đ
                                            span(class="table-item__icon table-item__icon-pen" path="product")
                                                i(class="fa-solid fa-pen")
                                        input(class="table-item__input", type="number", value=product.price, field="price",_id=product._id)
                                        form(action="", method="post") 
                                    else
                                        p(class="product-item__price") #{product.price.toLocaleString('vi-VN')}đ

                                td 
                                    p(class="product-item__discount") #{product.discount}%

                                td 
                                    p(class="product-item__inventory") #{product.inventory}
                                
                                td 
                                    if permission.includes("update-product")
                                        div(class="btn-status")
                                            div(class="btn-status-toggle")
                                                    div(class="form-check form-switch")
                                                        input(class="form-check-input btn-status__input", type="checkbox", role="switch",value=product.status,_id=product._id , path="product/update-status")
                                            p(class="btn-status__desc") Hoạt động  
                                    else 
                                        div(class="btn-status")
                                            p(class="btn-status__desc") #{product.status =="on" ? "Hoạt động" : "Không hoạt động"}

                                td(style="text-align: center")
                                    if permission.includes("update-product")
                                        a(href=`${PATH_ADMIN}/product/edit/${product._id}`, class="btn-primary btn") Sửa      
                                td(style="text-align: center")
                                    a(href=`${PATH_ADMIN}/product/detail/${product._id}`, class="btn-warning btn") Chi tiết 
                                td(style="text-align: center")
                                    if permission.includes("delete-product")
                                        button(type="button", class="btn-delete btn btn-danger", data-bs-id = product._id ,data-bs-toggle="modal", data-bs-target="#warningDeleteModal",path="product/delete-product") Xóa 
                    else  
                        tr 
                            td(colspan="9")
                                p(class="noProducts") Không có sản phẩm nào!   
                                a(class="noProducts__link", href=`${PATH_ADMIN}/product/create`) Tạo sản phẩm.
    
        +pagination(pagination,currentPath)

        if permission.includes("delete-product")
            form(method="POST", type="hidden",id="form-product-delete" ,action=``)
            <!-- Modal -->
            +formWarning("warningDeleteModal","Bạn có chắc chắn muốn <b class='warning-text'>Xóa</b> sản phẩm này không?","Xóa sản phẩm","warning-delete-modal-btn","Xóa")
    
    else 
        h1 Bạn không có quyền truy cập trang này 
