extends ../../layout/default.pug
include ../../mixins/page_header.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/deletion_warning.pug
include ../../mixins/toolbar_handle.pug


block main 
    +alert(messages)
    if permission.includes("view-role")
        +page_header("Nhóm Quyền", [
            { name: "Quản Lí Quyền", href: `${PATH_ADMIN}/roles` },
            { name: "Nhóm Quyền", href: `${PATH_ADMIN}/roles` },
        ])
        div(class="toolbar")
            div(class="toolbar__box")
                div(class="toolbar__left-box")
                    form(action=`${PATH_ADMIN}/roles`, method="GET") 
                        div(class="search")
                            input(class="search__input", type="text", name="name",placeholder="Nhập từ khóa tìm kiếm", spellcheck="false",value=filter.name)
                            button(type="submit" class="search__toolbar-icon")
                                i(class="fa-solid fa-magnifying-glass")
                    if permission.includes("delete-role")
                        button(id="advanced-handle-btn", class="advanced-handle-btn btn btn-primary", type="button")
                            span(class="icon-btn")
                                i(class="fa-solid fa-sliders")
                            | Nâng cao
                    a(href=`${PATH_ADMIN}/roles-trash`,id="btn btn-primary", class=" btn btn-primary")
                        span(class="icon-btn")
                            i(class="fa-solid fa-trash-can")
                        | Thùng rác

                if permission.includes("add-role")
                    div(class="toolbar__right-box")
                        a(href=`${PATH_ADMIN}/roles/create`,class="btn btn-primary")
                            span(class="icon-btn")
                                i(class="fa-solid fa-plus")
                            | Thêm quyền mới

            if permission.includes("delete-role")
                -var Delete = permission.includes("delete-role")
                +toolbarHandle({handle,path: "roles",role:true,Delete: Delete,title:"Quyền"})
        div(class="show")
            form(action="/admin/roles", method="get") 
                label(for="show" class="form-label") Hiển thị
                select(name="show" id="show" class="form-select") 
                    option(value="5" selected = pagination.limit == 5) 5
                    option(value="10" selected = pagination.limit == 10) 10
                    option(value="20" selected = pagination.limit == 20) 20
                    option(value="50" selected = pagination.limit == 50) 50
                    option(value="100" selected = pagination.limit == 100) 100 
        div(class="list-roles list-table")
            table(class="list-roles__table")
                thead
                    tr
                        th(scope="col") 
                            input(type="checkbox" id="table-item__select-all" name="sort")
                        th(scope="col") 
                            |   Quyền
                        th(scope="col") 
                            |   Mô tả
                        th(scope="col")  
                tbody
                    if listRoles.length > 0
                        each roles in listRoles
                            tr
                                td 
                                    input(type="checkbox" class="table-item__select" name="sort" value="1" _id=roles._id)
                                td  
                                    h4(class="table-item__title") #{roles.name}
                                td 
                                    |   !{roles.description}
                                td(style="text-align: center")
                                    if permission.includes("update-role")
                                        a(href=`${PATH_ADMIN}/roles/edit/${roles.id}`, class="btn-primary btn") Sửa      
                                    if permission.includes("view-role")
                                        a(href=`${PATH_ADMIN}/roles/detail/${roles.id}`, class="btn-warning btn") Chi tiết 
                                    if permission.includes("delete-role")
                                        button(type="button", class="btn-delete btn btn-danger", data-bs-id = roles._id ,data-bs-toggle="modal", data-bs-target="#warningDeleteModal",path="roles/delete-roles") Xóa 
                    else  
                        tr 
                            td(colspan="9")
                                p(class="noItem") Không có nhóm quyền nào!   
                                a(class="noItem__link", href=`${PATH_ADMIN}/roles/create`) Tạo quyền mới.

        +pagination(pagination,currentPath)
        
        if permission.includes("delete-role")
            form(method="POST", type="hidden",id="form-delete" ,action=``)
            <!-- Modal -->
            +formWarning("warningDeleteModal","Bạn có chắc chắn muốn <b class='warning-text'>Xóa</b> quyền này không?","Xóa quyền","warning-delete-modal-btn","Xóa")
        
    else 
        h1 Bạn không có quyền truy cập trang này 