extends ../../layout/default.pug
include ../../mixins/page_header.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/deletion_warning.pug
include ../../mixins/toolbar_handle.pug


block main 
    +alert(messages)
    if permission.includes("view-permission")
        +page_header("Phân Quyền", [
            { name: "Quản Lí Quyền", href: `${PATH_ADMIN}/roles/Permissions` },
            { name: "Phân Quyền", href: `${PATH_ADMIN}/roles/Permissions` },
        ])
        div(class="permissions-block")
            if permission.includes("update-permission")
                form(action="/admin/roles/permissions/update?_method=PATCH", method="post",id="handle-permission-form")
                    each role in listRoles
                        - var permission = JSON.stringify(role.permission) || "[]"
                        input(type="text" class="list-role" name=role.id value=permission style="display:none")
            div(class="permissions-block__header")
                h1(class="permissions-block__title") Thiết lập phân quyền
                if permission.includes("update-permission")
                    button(class="btn btn-primary btn-permissions",onclick="location.reload()") Đặt lại
                    button(type="button" class="btn btn-primary btn-permissions" data-bs-toggle="modal", data-bs-target="#warningPermissionModal") Cập nhật      
            div(class="list-permissions list-table")
                table(class="list-permissions__table")
                    thead
                        tr(class="row-title")
                            th(scope="col")
                            each roles in listRoles 
                                th(scope="col") 
                                    |   #{roles.name}
                    tbody 
                        tr  
                            td Chọn tất cả
                            each role,index in listRoles
                                td 
                                    input(type="checkbox" class="table-item__select-all" value="all" id=`table-all-${index}`)
                                    label(for=`table-all-${index}` class="table-item__label-all" _id=`${role.id}`)

                        tr(class="row-title")
                            td(colspan=`${listRoles.length+1}`) Sản Phẩm
                        tr 
                            td Xem 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("view-product")
                                    input(type="checkbox" class="table-item__select" value="view-product" id=`table-product-view-${index}` checked=check)
                                    label(for=`table-product-view-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Thêm mới
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("add-product")
                                    input(type="checkbox" class="table-item__select" value="add-product" id=`table-product-add-${index}` checked=check)
                                    label(for=`table-product-add-${index}` class="table-item__label" _id=`${role.id}`)
                        
                        tr
                            td Cập nhật 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("update-product")
                                    input(type="checkbox" class="table-item__select" value="update-product" id=`table-product-update-${index}` checked=check)
                                    label(for=`table-product-update-${index}` class="table-item__label" _id=`${role.id}`)
                        
                        tr 
                            td Xóa
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("delete-product")
                                    input(type="checkbox" class="table-item__select" value="delete-product" id=`table-product-delete-${index}` checked=check)
                                    label(for=`table-product-delete-${index}` class="table-item__label" _id=`${role.id}`)
                        
                        tr(class="row-title")  
                            td(colspan=`${listRoles.length+1}`) Danh mục 
                        tr 
                            td Xem 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("view-category")
                                    input(type="checkbox" class="table-item__select" value="view-category" id=`table-category-view-${index}` checked=check)
                                    label(for=`table-category-view-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Thêm mới
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("add-category")
                                    input(type="checkbox" class="table-item__select" value="add-category" id=`table-category-add-${index}` checked=check)
                                    label(for=`table-category-add-${index}` class="table-item__label" _id=`${role.id}`)
                    
                        tr
                            td Cập nhật 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("update-category")
                                    input(type="checkbox" class="table-item__select" value="update-category" id=`table-category-update-${index}` checked=check)
                                    label(for=`table-category-update-${index}` class="table-item__label" _id=`${role.id}`)
                        
                        tr 
                            td Xóa
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("delete-category")
                                    input(type="checkbox" class="table-item__select" value="delete-category" id=`table-category-delete-${index}` checked=check)
                                    label(for=`table-category-delete-${index}` class="table-item__label" _id=`${role.id}`)
                        
                        tr(class="row-title")  
                            td(colspan=`${listRoles.length+1}`) Nhóm Quyền
                        tr 
                            td Xem 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("view-role")
                                    input(type="checkbox" class="table-item__select" value="view-role" id=`table-roles-view-${index}` checked=check)
                                    label(for=`table-roles-view-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Thêm mới
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("add-role")
                                    input(type="checkbox" class="table-item__select" value="add-role" id=`table-roles-add-${index}` checked=check)
                                    label(for=`table-roles-add-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Cập nhật 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("update-role")
                                    input(type="checkbox" class="table-item__select" value="update-role" id=`table-roles-update-${index}` checked=check)
                                    label(for=`table-roles-update-${index}` class="table-item__label" _id=`${role.id}`)
                        tr 
                            td Xóa
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("delete-role")
                                    input(type="checkbox" class="table-item__select" value="delete-role" id=`table-role-delete-${index}` checked=check)
                                    label(for=`table-role-delete-${index}` class="table-item__label" _id=`${role.id}`)
                    
                        tr(class="row-title")  
                            td(colspan=`${listRoles.length+1}`) Phân Quyền
                        tr 
                            td Xem 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("view-permission")
                                    input(type="checkbox" class="table-item__select" value="view-permission" id=`table-permissions-view-${index}` checked=check)
                                    label(for=`table-permissions-view-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Cập nhật 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("update-permission")
                                    input(type="checkbox" class="table-item__select" value="update-permission" id=`table-permissions-update-${index}` checked=check)
                                    label(for=`table-permissions-update-${index}` class="table-item__label" _id=`${role.id}`)

                        tr(class="row-title")  
                            td(colspan=`${listRoles.length+1}`) Tài Khoản
                        tr 
                            td Xem 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("view-account")
                                    input(type="checkbox" class="table-item__select" value="view-account" id=`table-account-view-${index}` checked=check)
                                    label(for=`table-account-view-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Thêm mới
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("add-account")
                                    input(type="checkbox" class="table-item__select" value="add-account" id=`table-account-add-${index}` checked=check)
                                    label(for=`table-account-add-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Cập nhật 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("update-account")
                                    input(type="checkbox" class="table-item__select" value="update-account" id=`table-account-update-${index}` checked=check)
                                    label(for=`table-account-update-${index}` class="table-item__label" _id=`${role.id}`)
                        tr 
                            td Xóa
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("delete-account")
                                    input(type="checkbox" class="table-item__select" value="delete-account" id=`table-account-delete-${index}` checked=check)
                                    label(for=`table-account-delete-${index}` class="table-item__label" _id=`${role.id}`)
                        
                        tr(class="row-title")  
                            td(colspan=`${listRoles.length+1}`) Đơn Hàng
                        tr 
                            td Xem 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("view-order")
                                    input(type="checkbox" class="table-item__select" value="view-order" id=`table-order-view-${index}` checked=check)
                                    label(for=`table-order-view-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Cập nhật 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("update-order")
                                    input(type="checkbox" class="table-item__select" value="update-order" id=`table-order-update-${index}` checked=check)
                                    label(for=`table-order-update-${index}` class="table-item__label" _id=`${role.id}`)
                        tr 
                            td Xóa
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("delete-order")
                                    input(type="checkbox" class="table-item__select" value="delete-order" id=`table-order-delete-${index}` checked=check)
                                    label(for=`table-order-delete-${index}` class="table-item__label" _id=`${role.id}`)
        
                        tr(class="row-title")  
                            td(colspan=`${listRoles.length+1}`) Voucher
                        tr 
                            td Xem 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("view-voucher")
                                    input(type="checkbox" class="table-item__select" value="view-voucher" id=`table-voucher-view-${index}` checked=check)
                                    label(for=`table-voucher-view-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Thêm mới
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("add-voucher")
                                    input(type="checkbox" class="table-item__select" value="add-voucher" id=`table-voucher-add-${index}` checked=check)
                                    label(for=`table-voucher-add-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Cập nhật 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("update-voucher")
                                    input(type="checkbox" class="table-item__select" value="update-voucher" id=`table-voucher-update-${index}` checked=check)
                                    label(for=`table-voucher-update-${index}` class="table-item__label" _id=`${role.id}`)
                        tr 
                            td Xóa
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("delete-voucher")
                                    input(type="checkbox" class="table-item__select" value="delete-voucher" id=`table-voucher-delete-${index}` checked=check)
                                    label(for=`table-voucher-delete-${index}` class="table-item__label" _id=`${role.id}`)

                        tr(class="row-title")  
                            td(colspan=`${listRoles.length+1}`) Khách Hàng
                        tr 
                            td Xem 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("view-user")
                                    input(type="checkbox" class="table-item__select" value="view-user" id=`table-user-view-${index}` checked=check)
                                    label(for=`table-user-view-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Cập nhật 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("update-user")
                                    input(type="checkbox" class="table-item__select" value="update-user" id=`table-user-update-${index}` checked=check)
                                    label(for=`table-user-update-${index}` class="table-item__label" _id=`${role.id}`)
                        tr 
                            td Xóa
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("delete-user")
                                    input(type="checkbox" class="table-item__select" value="delete-user" id=`table-user-delete-${index}` checked=check)
                                    label(for=`table-user-delete-${index}` class="table-item__label" _id=`${role.id}`)
                        
                        tr(class="row-title")  
                            td(colspan=`${listRoles.length+1}`) Bài Viết
                        tr 
                            td Xem 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("view-post")
                                    input(type="checkbox" class="table-item__select" value="view-post" id=`table-post-view-${index}` checked=check)
                                    label(for=`table-post-view-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Thêm mới
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("add-post")
                                    input(type="checkbox" class="table-item__select" value="add-post" id=`table-post-add-${index}` checked=check)
                                    label(for=`table-post-add-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Cập nhật 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("update-post")
                                    input(type="checkbox" class="table-item__select" value="update-post" id=`table-post-update-${index}` checked=check)
                                    label(for=`table-post-update-${index}` class="table-item__label" _id=`${role.id}`)
                        tr 
                            td Xóa
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("delete-post")
                                    input(type="checkbox" class="table-item__select" value="delete-post" id=`table-post-delete-${index}` checked=check)
                                    label(for=`table-post-delete-${index}` class="table-item__label" _id=`${role.id}`)
                        
                        tr(class="row-title")  
                            td(colspan=`${listRoles.length+1}`) Danh mục bài Viết
                        tr 
                            td Xem 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("view-post-category")
                                    input(type="checkbox" class="table-item__select" value="view-post-category" id=`table-post-category-view-${index}` checked=check)
                                    label(for=`table-post-category-view-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Thêm mới
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("add-post-category")
                                    input(type="checkbox" class="table-item__select" value="add-post-category" id=`table-post-category-add-${index}` checked=check)
                                    label(for=`table-post-category-add-${index}` class="table-item__label" _id=`${role.id}`)
                        tr
                            td Cập nhật 
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("update-post-category")
                                    input(type="checkbox" class="table-item__select" value="update-post-category" id=`table-post-category-update-${index}` checked=check)
                                    label(for=`table-post-category-update-${index}` class="table-item__label" _id=`${role.id}`)
                        tr 
                            td Xóa
                            each role,index in listRoles
                                td 
                                    - var check = role.permission.includes("delete-post-category")
                                    input(type="checkbox" class="table-item__select" value="delete-post-category" id=`table-delete-post-category-${index}` checked=check)
                                    label(for=`table-delete-post-category-${index}` class="table-item__label" _id=`${role.id}`)

        if permission.includes("update-permission")
            <!-- Modal -->
            +formWarning("warningPermissionModal","Bạn có chắc chắn muốn <b class='warning-text'>Thiết Lập Phân Quyền</b> không?<span class='warning-text'>","Thiết Lập Phân Quyền","warning-permission-modal-btn","Có")
    else 
        h1 Bạn không có quyền truy cập trang này 
