extends ../../layout/default.pug
include ../../mixins/breadcrumbs.pug
include ../../mixins/alert.pug

block main
    +alert(messages)
    div(class="breadcrumb-nav")
        div(class="container-xl")
            +breadcrumb("Giỏ hàng", [
                { name: `Home`, href: `/` },
                { name: `Giỏ hàng`, href: `/cart` },
            ])
    if ((!user || !user.listItemCart || user.listItemCart.length < 1) && listItemCart.length < 1)
        main(class="page-status")
            div(class="container")
                p(class="page-status__text")
                    span(class="page-status__text-icon")
                        i(class="fa-solid fa-tag")
                        | Freeship với đơn hàng trên 5.000.000đ. Mua sắm ngay nào!!!
                div(class="page-status__content")
                    span(class="page-status__icon-1")
                        i(class="fa-solid fa-cart-shopping")
                        span(class="page-status__icon-2 error")
                            i(class="fa-solid fa-circle-xmark")
                    h2(class="page-status__title") “Hổng” có gì trong giỏ hết
                    p(class="page-status__desc") Về trang cửa hàng để chọn mua sản phẩm bạn nhé!!
                    a(class="primary-btn page-status__btn" href="/") Mua sắm ngay
    else 
        main(class="shopping-cart")
            div(class="container-xl")
                form(action="/checkout/cart", method="post", class="shopping-cart__wrapper")
                    h1(class="shopping-cart__title") Giỏ hàng
                    div(class="row")
                        div(class="left-box col-12 col-lg-8")
                            div(class="shopping-cart__process-wrapper")
                                div(class="shopping-cart__process")
                                span 100%
                            div(class="shopping-cart__voucher")
                                p(class="shopping-cart__voucher-text")
                                    span(class="shopping-cart__voucher-icon")
                                        i(class="fa-solid fa-tag")
                                    | EGAFREESHIP
                            small Chúc mừng! Đơn hàng của bạn đã đủ điều kiện được Freeship 🎉
                            div(class="order-list")
                                each item in listItemCart
                                    - quantity = item.quantity || 1;
                                    - item = item.product;
                                    div(class="order-item")
                                        div(class="order-item__content")
                                            a(href=`/cart/delete/${item._id}`)
                                                span(class="order-item__icon")
                                                    i(class="fa-solid fa-xmark")
                                            a(href=`/product/detail/${item.slug}`)
                                                img(class="order-item__img" src=item.thumbnails[0] || "/uploads/default-image.jpg" alt=item.name)
                                            div(class="order-item__info")
                                                a(class="order-item__name" href=`/product/detail/${item.slug}`) #{item.name}
                                        div(class="order-item__content order-item__content--right")
                                            p(class="order-item__price" , data-price=item.price) #{item.price.toLocaleString('vi-VN')}đ
                                            div(class="quantity-control")
                                                button(type="button",class="quantity-control__btn quantity-control__btn--decrease")
                                                    span
                                                        i(class="fa-solid fa-minus")
                                                input(class="quantity-control__input" type="number" value=quantity name="quantity-item" min=1 max=item.inventory data-id=item._id)
                                                button(type="button",class="quantity-control__btn quantity-control__btn--increase")
                                                    span
                                                        i(class="fa-solid fa-plus")
                                label(class="order-item__label" for="note") Ghi chú đơn hàng
                                textarea(name="note" class="form-control" rows="3" id="note" style="font-size: 1.6rem")
                         
                        div(class="right-box col-12 col-lg-4")
                            h4(class="right-box__title") HÓA ĐƠN
                            table(class="bill")
                                tr
                                    td Tạm tính
                                    td(class="bill__price", id="bill__price", data-price=totalPriceAndDiscount.totalPrice) #{totalPriceAndDiscount.totalPrice.toLocaleString('vi-VN')}đ
                                tr(id="bill-discount", style="display: none")
                                tr
                                    td Phí vận chuyển
                                    td(class="bill__discount") Miễn phí
                            hr
                            div(class="discount")
                                div(class="discount__text")
                                    span(class="discount__icon")
                                        i(class="fa-solid fa-tag")
                                    | Mã giảm giá
                                div(class="discount__code")
                                    button(class="btn-discount",
                                        type="button",
                                        data-bs-toggle="offcanvas",
                                        data-bs-target="#offcanvasExample",
                                        aria-controls="offcanvasExample"
                                    )
                                        | Chọn mã giảm giá
                                        span
                                            i(class="fa-solid.fa-chevron-right")
                            div(class="product__discount" id="product__discount")

                            hr
                            div(class="total")
                                p(class="total__text") Tổng Thanh toán
                                div(class="total__detail")
                                    p(class="total__price", id="total__price") #{(totalPriceAndDiscount.totalPrice).toLocaleString('vi-VN')}đ
                                    small (Đã bao gồm VAT nếu có)
                            input(type="hidden", name="vc", value="" id="vc-input")
                            button(class="primary-btn pay-btn" type="submit") thanh toán
    include ../../partials/list_voucher.pug