extends ../../layout/default.pug
include ../../mixins/page_header.pug
include ../../mixins/category_tree.pug
include ../../mixins/alert.pug

block main 
    +alert(messages)
    +page_header("Chỉnh sửa voucher", [
        { name: "Voucher", href: `${PATH_ADMIN}/voucher` },
        { name: "Danh sách voucher", href: `${PATH_ADMIN}/voucher` },
        { name: "Chỉnh sửa voucher", href: `${PATH_ADMIN}/voucher/edit/${voucher.id}` },
    ])
    - const startDate = new Date(voucher.startDate).toISOString().split('T')[0];
    - const expiredAt = new Date(voucher.expiredAt).toISOString().split('T')[0];
    div(class="edit")
        form(action=`${PATH_ADMIN}/voucher/edit/${voucher.id}?_method=PATCH`, method="post",id="form-edit")
            h1(class="title") Thông tin chung
            div(class="general")
                div(class="form-group")
                    div(class="name form-item")
                        label(for="name") 
                            | Tên voucher (
                            span(class="important-item") *
                            | )
                        input(class="form-control",id="name",name="name",type="text",value=voucher.name,required)
                    div(class="code form-item")
                        label(for="code") 
                            | Mã voucher (
                            span(class="important-item") *
                            | )
                        input(class="form-control",id="code",name="code",type="text",value=voucher.code,required)    
                    div(class="discountType form-item")
                        label(for="discountType") 
                            | Loại giảm giá (
                            span(class="important-item") *
                            | )
                        select(name="discountType", id="discountType" ,required) 
                            option(value="fixed" selected=(voucher.discountType == "fixed")) Giảm giá cố định
                            option(value="percent" selected=(voucher.discountType == "percent")) Giảm theo phần trăm(0 - 100%) 
                  
                div(class="form-group")
                    div(class="discountValue form-item")
                        label(for="discountValue")
                            | Trị giá (
                            span(class="important-item") *
                            | )
                        input(class="form-control",id="discountValue",name="discountValue",type="number",min="0",required,value=voucher.discountValue)  
                    div(class="maxDiscount form-item")
                        label(for="maxDiscount") Giảm tối đa
                        input(class="form-control",id="maxDiscount",name="maxDiscount",type="number",min="0",value=voucher.maxDiscount)
                    div(class="minOrderValue form-item")
                        label(for="minOrderValue") Giá trị đơn hàng tối thiểu
                        input(class="form-control",id="minOrderValue",name="minOrderValue",type="number",min="0",value=voucher.minOrderValue)           
                div(class="form-group")
                    div(class="quantity form-item")
                        label(for="quantity") 
                            | Số lượng (
                            span(class="important-item") *
                            | )
                        input(class="form-control",id="quantity",name="quantity",type="number",min="1",required,value=voucher.quantity) 
                    div(class="startDate form-item")
                        label(for="startDate") 
                            | Ngày áp dụng (
                            span(class="important-item") *
                            | )
                        input(type="date", id="startDate",name="startDate",required,value=startDate) 
                    div(class="expiredAt form-item")
                        label(for="expiredAt") Ngày hết hạn
                        input(type="date", id="expiredAt",name="expiredAt",value=expiredAt) 
                div(class="form-group")
                    div(class="applyFor form-item")
                        label(for="applyFor") 
                            | Áp dụng cho (
                            span(class="important-item") *
                            | )
                        select(name="applyFor", id="applyFor" ,required) 
                            option(value="all" selected=(voucher.applyFor == "all")) Tất cả
                            option(value="purchased" selected=(voucher.applyFor == "purchased")) Đã mua
                            option(value="not-purchased" selected=(voucher.applyFor == "not-purchased")) Chưa mua
                            option(value="new-user" selected=(voucher.applyFor == "new-user")) Người mới
                label(for="check") Trạng thái 
                div(class="btn-toggle")
                    div(class="btn-status-toggle")
                            div(class="form-check form-switch")
                                input(class="form-check-input btn-status-form",name="status",type="checkbox",id="check", role="switch",checked=voucher.status)
                    p(class="btn-status__desc", isOn="Hoạt động", isOff="Không hoạt động") #{voucher.status ? "Hoạt động" : "Không hoạt động"}          
                label(for="description") Mô tả voucher
                textarea(class="textarea-mce",name="description",id="description") 
                    != voucher.description 
          
            div(class="form-group__btn")
                a(href="/admin/voucher" class="btn btn-primary") Quay lại
                button(type="submit" class="btn btn-primary") Sửa Voucher


            