extends ../../layout/default.pug
include ../../mixins/page_header.pug
include ../../mixins/toolbar_filter.pug
include ../../mixins/toolbar_handle.pug
include ../../mixins/deletion_warning.pug
include ../../mixins/get_category.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug

block main 
    +alert(messages)
    if permission.includes("view-voucher")
        +page_header("Danh sách voucher đã xóa", [
            { name: "Voucher", href: `${PATH_ADMIN}/voucher` },
            { name: "Danh sách voucher", href: `${PATH_ADMIN}/voucher` },
            { name: "Thùng rác", href: `${PATH_ADMIN}/voucher-trash` },
        ])
        div(class="toolbar")
            div(class="toolbar__box")
                div(class="toolbar__left-box")
                    form(action=`${PATH_ADMIN}/voucher-trash`, method="GET") 
                        div(class="search")
                            input(class="search__input", type="text", name="name",placeholder="Nhập từ khóa tìm kiếm",value=filter.name, spellcheck="false")
                            button(type="submit" class="search__toolbar-icon")
                                i(class="fa-solid fa-magnifying-glass")
                    button(id="advanced-filter-btn", class="advanced-filter-btn btn btn-primary", type="button")
                        span(class="icon-btn")
                            i(class="fa-solid fa-filter")
                        | Bộ Lọc
                    button(id="advanced-handle-btn", class="advanced-handle-btn btn btn-primary", type="button")
                        span(class="icon-btn")
                            i(class="fa-solid fa-sliders")
                        | Nâng cao
                    a(href=`${PATH_ADMIN}/voucher`, class="btn btn-primary")
                        span(class="icon-btn")
                            i(class="fa-solid fa-reply")
                        | Quay lại
                div(class="toolbar__right-box")
                    a(href=`${PATH_ADMIN}/voucher`,class=" btn btn-primary")
                        span(class="icon-btn")
                            i(class="fa-regular fa-rectangle-list")
                        | Danh sách voucher
            +toolbarFilter({filter,path: "voucher-trash",voucher:true})
            if permission.includes("update-voucher") || permission.includes("delete-voucher")
                -var Update = permission.includes("update-voucher");
                -var Delete = permission.includes("delete-voucher");
                +toolbarHandle({handle,path: "voucher-trash",voucher:true,trash:true,Update: Update,Delete: Delete,title: "Voucher"})

        div(class="overview-block") 
            div(class="overview-item total-voucher")
                h3(class="overview-item__title total-voucher__title") Tổng số voucher
                p(class="overview-item__detail total-voucher__detail") #{general.totalVoucher}

        div(class="list-voucher list-table")
            table(class="list-voucher__table")
                thead
                    tr
                        th(scope="col") 
                            input(type="checkbox" name="sort" id="table-item__select-all" value="1")
                        th(scope="col") 
                            |   Tên voucher
                            !=pugHepper.sort("name", _sort)
                        th(scope="col") 
                            |   Mã voucher
                            !=pugHepper.sort("code", _sort)
                        th(scope="col") Danh mục
                        th(scope="col") 
                            |   Giá gốc
                            !=pugHepper.sort("original_price", _sort)
                        th(scope="col") 
                            |   Giá bán
                            !=pugHepper.sort("price", _sort)
                        th(scope="col") 
                            |   Giảm giá
                            !=pugHepper.sort("discount", _sort)
                        th(scope="col") 
                            |   Tồn kho 
                            !=pugHepper.sort("inventory", _sort)
                        th(scope="col") Trạng thái 
                tbody
                    if listDeletedVoucher.length > 0
                        each voucher in listDeletedVoucher
                            tr
                                td 
                                    input(type="checkbox" class="table-item__select" name="sort" value="1" _id=voucher._id)
                                td  
                                    h4(class="table-item__title") #{voucher.name}
                                td  
                                    p 
                                        span(class="table-item__icon")
                                            i(class="fa-solid fa-tag" style="transform: scaleX(-1)")
                                        | #{voucher.code}
                                td  
                                    p #{voucher.discountValue}
                                td  
                                    p #{voucher.discountType == "fixed" ? "Giảm giá cố định" : "Giảm theo phần trăm"}
                                td  
                                    p #{voucher.maxDiscount}
                                td  
                                    p #{voucher.minOrderValue}
                                td  
                                    p #{voucher.quantity}
                                td  
                                    - const startDate = new Date(voucher.startDate).toLocaleDateString("vi-VN");
                                    p #{startDate}
                                td  
                                    - const expiredAt = new Date(voucher.expiredAt).toLocaleDateString("vi-VN");
                                    p #{expiredAt}
                                td 
                                    if permission.includes("update-voucher")
                                        div(class="btn-toggle")
                                            div(class="btn-status-toggle")
                                                    div(class="form-check form-switch")
                                                        input(class="form-check-input btn-status__input", type="checkbox", role="switch",value=voucher.status,_id=voucher._id, path="voucher-trash/update-status")
                                            p(class="btn-status__desc") Hoạt động          
                                    else
                                        div(class="btn-toggle")
                                            p(class="btn-status__desc") #{voucher.status == "on" ? "Hoạt động" : "Không hoạt động"}
                
                                td(style="text-align: center")
                                    if permission.includes("update-voucher")
                                        form(method="POST", action=`${PATH_ADMIN}/voucher-trash/restore-voucher/${voucher.id}?_method=PATCH`)
                                            button(type="submit", class="btn-primary btn") Khôi phục  
                                td(style="text-align: center")
                                    if permission.includes("view-voucher")
                                        a(href=`${PATH_ADMIN}/voucher-trash/detail/${voucher.id}`, class="btn-warning btn") Chi tiết 
                                td(style="text-align: center")
                                    if permission.includes("delete-voucher")
                                        button(type="button", class="btn-destroy btn btn-danger",data-bs-toggle="modal",data-bs-id = voucher._id, data-bs-target="#warningDeleteModal",path="voucher-trash/destroy-voucher") Xóa vĩnh viễn   
                    else  
                        tr 
                            td(colspan="9")
                                p(class="noItem") Không có voucher nào!   
                                a(class="noItem__link", href=`${PATH_ADMIN}/voucher`) Danh sách voucher.
    
        +pagination(pagination,currentPath)
        if permission.includes("delete-voucher")
            form(method="POST", type="hidden",id="form-delete" ,action=``)
            <!-- Modal -->
            +formWarning("warningDeleteModal","Bạn có chắc chắn muốn <b class='warning-text'>Xóa Vĩnh Viễn</b> voucher này không?<span class='warning-text'> Hành động này không thể hoàn tác!!!</span>","Xóa voucher","warning-delete-modal-btn","Xóa Vĩnh Viễn")
    else 
        h1 Bạn không có quyền truy cập trang này 
