extends ../../layout/default.pug
include ../../mixins/breadcrumbs.pug
include ../../mixins/alert.pug

block main
    +alert(messages)
    div(class="breadcrumb-nav")
        div(class="container-xl")
            +breadcrumb("Sản phẩm", [
                { name: `Home`, href: `/` },
                { name: `User`, href: `/user/profile` },
                { name: `Hồ sơ`, href: `/user/profile` },
            ])
    
    main(class="profile")
        div(class="container-xl")
            div(class="profile__wrapper row")
                div(class="left-box col-12 col-md-4 col-lg-3")                       
                    include ../../partials/profile-sidebar.pug
                div(class="right-box col-12 col-md-8 col-lg-9")
                    div(class="right-box__wrapper")
                        div(class="avatar")
                            img(src=user.avatar || "/uploads/default-image.jpg",onerror="this.src='/uploads/default-image.jpg'", alt='Avatar', class="avatar__img") 
                        div(class="info")
                            h1(class="info__title") Thông tin cá nhân
                            hr
                            div(class="info-wrapper")
                                div(class="info__item")    
                                    p(class="info__field") 
                                        | Họ Tên: 
                                        Strong #{user.name}
                                    p(class="info__field") 
                                        | Email: 
                                        Strong #{user.email}
                                    p(class="info__field") 
                                        | Số điện thoại: 
                                        Strong #{user.phone || 'Chưa cập nhật'}
                                    p(class="info__field") 
                                        | Địa chỉ: 
                                        Strong #{user.address || 'Chưa cập nhật'}