extends ../../layout/default.pug
include ../../mixins/alert.pug
include ../../mixins/page_header.pug
block main 
    +alert(messages)
    +page_header("Tạo tài khoản mới", [
        { name: "Danh sách tài khoản", href: `${PATH_ADMIN}/accounts` },
        { name: "Tạo tài khoản mới", href: `${PATH_ADMIN}/accounts/create` },
    ])
    div(class="create account")
        form(action=`${PATH_ADMIN}/accounts/create`, method="post",enctype="multipart/form-data")
            h1(class="title") Thông tin chung
            div(class="general")
                div(class="form-group")
                    div(class="fullName form-item")
                        label(for="fullName") 
                            | Họ và tên (
                            span(class="important-item") *
                            | )
                        input(class="form-control",id="fullName",name="fullName",type="text",required)
                    div(class="email form-item")
                        label(for="email") 
                            | Email (
                            span(class="important-item") *
                            | )
                        input(class="form-control",id="email",name="email",type="email",required)  
                    div(class="phone form-item")
                        label(for="phone") Số điện thoại
                        input(class="form-control",id="phone",name="phone",type="number")  
                div(class="form-group")
                    div(class="password form-item")
                        label(for="password") 
                            | Password (
                            span(class="important-item") *
                            | )
                        input(class="form-control",id="password",name="password",type="password",required)   
                    div(class="listRoles form-item")
                        label(for="listRoles")  
                            | Phân quyền (
                            span(class="important-item") *
                            | )
                        select(name="roleId", id="listRoles" ,required) 
                            option(value="" selected disabled) -- chọn quyền -- 
                            if(listRoles.length > 0)
                                each role in listRoles
                                    option(value=role.id) #{role.name} 
                            else 
                                option(value="" selected disabled) -- Chưa có phân quền nào! -- 
                    div(class="add-more form-item")
                        p(class="add-more__title") Thêm quyền 
                        a(href="" class="btn btn-primary")
                            i(class="fa-solid fa-plus") 
                label(for="check") Trạng thái 
                div(class="btn-toggle")
                    div(class="btn-status-toggle")
                            div(class="form-check form-switch")
                                input(class="form-check-input btn-status-form",name="status",type="checkbox",id="check", role="switch",checked=true)
                    p(class="btn-status__desc") Hoạt động          
            h1(class="title") Avatar
            div(class="single-image-wrapper", id="image-wrapper")
                label(class="single-image__upload" for="image") 
                    span(class="single-image__upload-icon")
                        i(class="fa-solid fa-upload")
                    |   upload
                    input(id="image",name="thumbnails",type="file",accept="image/*")
            div(class="form-group__btn")
                a(href="/admin/accounts" class="btn btn-primary") Quay lại
                button(type="submit" class="btn btn-primary") Tạo tài khoản